<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buttons>
            <general>
                <enable>1</enable>
                <custom_color>#000</custom_color>
            </general>
        </buttons>
    </default>
</config>
