<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cli_custom" translate="label" sortOrder="10">
            <label>Cli Custom Buttons</label>
        </tab>
        <section id="buttons" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Color</label>
            <tab>cli_custom</tab>
            <resource>CliCustom_Buttons::buttons_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="custom_color" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cor dos botões na loja</label>
                </field>
            </group>
        </section>
    </system>
</config>
